
doctype 
html(lang='en')
    head
        meta(charset='utf-8')
        title rgb.li
        meta(name='description', content='RGB Screen Light Web App')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='manifest' href='manifest.json')
        link(rel='icon' href='favicon.ico')
        link(rel='apple-touch-icon' sizes='180x180' href='/img/touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='/img/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='/img/favicon-16x16.png')
        style
            include css/index.css
            include css/browser-sync.css 
            include css/noscript.css

    body.noscript
        script.
            document.body.classList.remove('noscript');
        
        #colors
        
        noscript
            - for (var i = 1; i < 21; i++) {
                label.colorSwitch
                    input(type='checkbox')
                    span.noscriptColor(class='color'+i).fadeAnimation
            - }

        script 
            include js/main.js
